[submodule "rtl/axi2apb"]
	path = rtl/axi2apb
	url = https://github.com/pulp-platform/axi2apb
	branch = pulpinov1
[submodule "rtl/axi_mem_if_DP"]
	path = rtl/axi_mem_if_DP
	url = https://github.com/pulp-platform/axi_mem_if_DP
	branch = pulpinov1
[submodule "rtl/axi_node"]
	path = rtl/axi_node
	url = https://github.com/pulp-platform/axi_node
	branch = pulpinov1
[submodule "rtl/axi_slice"]
	path = rtl/axi_slice
	url = https://github.com/pulp-platform/axi_slice
	branch = pulpinov1
[submodule "rtl/axi_slice_dc"]
	path = rtl/axi_slice_dc
	url = https://github.com/pulp-platform/axi_slice_dc
	branch = pulpinov1
[submodule "rtl/axi_spi_master"]
	path = rtl/axi_spi_master
	url = https://github.com/pulp-platform/axi_spi_master
	branch = pulpinov1
[submodule "rtl/axi_spi_slave"]
	path = rtl/axi_spi_slave
	url = https://github.com/pulp-platform/axi_spi_slave
	branch = pulpinov1
[submodule "rtl/core2axi"]
	path = rtl/core2axi
	url = https://github.com/pulp-platform/core2axi
	branch = pulpinov1
[submodule "rtl/adv_dbg_if"]
	path = rtl/adv_dbg_if
	url = https://github.com/pulp-platform/adv_dbg_if
	branch = pulpinov1
[submodule "rtl/riscv"]
	path = rtl/riscv
	url = https://github.com/pulp-platform/riscv
	branch = pulpinov1
[submodule "rtl/fpu"]
	path = rtl/fpu
	url = https://github.com/pulp-platform/fpu
	branch = pulpinov1
[submodule "rtl/apb_node"]
	path = rtl/apb_node
	url = https://github.com/pulp-platform/apb_node
	branch = pulpitov1
[submodule "rtl/apb_uart"]
	path = rtl/apb_uart
	url = https://github.com/pulp-platform/apb_uart
	branch = pulpinov1
[submodule "rtl/apb_gpio"]
	path = rtl/apb_gpio
	url = https://github.com/pulp-platform/apb_gpio
	branch = pulpinov1
[submodule "rtl/apb_spi_master"]
	path = rtl/apb_spi_master
	url = https://github.com/pulp-platform/apb_spi_master
	branch = pulpinov1
[submodule "rtl/apb_timer"]
	path = rtl/apb_timer
	url = https://github.com/pulp-platform/apb_timer
	branch = pulpinov1
[submodule "rtl/apb_event_unit"]
	path = rtl/apb_event_unit
	url = https://github.com/pulp-platform/apb_event_unit
	branch = pulpinov1
[submodule "rtl/apb_i2c"]
	path = rtl/apb_i2c
	url = https://github.com/pulp-platform/apb_i2c
	branch = pulpinov1
[submodule "rtl/apb_fll_if"]
	path = rtl/apb_fll_if
	url = https://github.com/pulp-platform/apb_fll_if
	branch = pulpinov1
[submodule "rtl/apb_pulpino"]
	path = rtl/apb_pulpino
	url = https://github.com/pulp-platform/apb_pulpino
	branch = pulpinov1
[submodule "rtl/apb2per"]
	path = rtl/apb2per
	url = https://github.com/pulp-platform/apb2per
	branch = pulpinov1
